@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #00aeef !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 1000px !default;

$on-palm: 600px !default;
$on-laptop: 1000px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

.site-header {
  background-color: #000;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  min-height: 80px;
  padding: 0;

  .site-nav {
    background-color: inherit;
    line-height: 100px;
    .page-link {
      color: $background-color;
      background: $text-color;
    }
  }
}

@include media-query($on-palm) {
  .site-nav {
    position: absolute;
    top: #{$spacing-unit / 2};
    right: #{$spacing-unit / 2};
    background-color: black;
    border: none;
    text-align: right;

    .menu-icon > svg {
      fill: white;
    }
  }
  .wrapper {
    padding-left: #{$spacing-unit / 5};
    padding-right: 0;
  }
  #schedule {
    b {
      font-weight: inherit;
      display: none;
    }
  }
}

.site-title {
  color: transparent;
  background: center center url('../utrecht-zouk-logo.png') no-repeat;
  background-size: contain;
  line-height: 100px;
  overflow: hidden;

  &:hover {
    color: transparent;
  }
}

.responsive-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

section {
  position: relative;
  margin: 0 0 $spacing-unit 0;

  .more {
    font-size: 0.7em;
    line-height: 1em;
    text-align: bottom;
  }

  picture {
    display: block;

    img {
      max-width: auto;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  @include media-query($on-palm) {
    picture, .responsive-video {
      float: none !important;
      margin: 0 #{-$spacing-unit / 5} 4px #{-$spacing-unit / 2};

      img {
        width: 100%;
        max-width: 100%;
        border: none;
        border-radius: 0;
      }
    }

    h4 {
      position: absolute;
      top: calc(160px - #{$spacing-unit});
      height: $spacing-unit;
      line-height: $spacing-unit;
      left: #{-$spacing-unit / 5};
      right: #{-$spacing-unit / 5};
      padding: 0 #{$spacing-unit / 5};
      color: $background-color;
      text-shadow: $text-color 0 0 1px;
      // background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));

    }

    &.palm-right h4 {
      text-align: right;
    }
  }

  @media (min-width: $on-palm) {
    picture {
      position: relative;
      height: 100%;

      &:before, &:after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: #{$spacing-unit / 2};
        left: 4px;
        width: calc(100% - #{2 * $spacing-unit});
        height: 20%;
        box-shadow: 0 #{$spacing-unit / 2} #{$spacing-unit / 3} rgba(0, 0, 0, 0.7);
        transform: rotate(-5deg);
      }

      &:after {
        right: 4px;
        left: auto;
        transform: rotate(3deg);
      }
    }

    &:nth-child(odd) {
      picture {
        float: left;
        margin: 0 $spacing-unit $spacing-unit 0;
      }
    }

    &:nth-child(even) {
      picture {
        float: right;
        margin: 0 0 $spacing-unit $spacing-unit;
      }
    }
  }
}

section.looming-notice {
  padding: 2em;
  border: 1px solid black;

  @media (min-width: $on-palm) {
    font-size: 0.8em;
    margin: 0 auto 2em auto;
    width: 36em;
    background: rgba(255,255,255,1);
    box-shadow: 1em 1em 1em #888888;
    border: 1px solid black;
    border-radius: 1em;
  }
}

section.responsive-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    display: inline-block;
    width: calc(50% - 1.5em);
    text-align: center;
  }
}

dl {
  dd, dt {
    display: inline-block;
    width: 50%;
  }
}

a.button, .buttons a {
  background: $brand-color;
  color: $background-color;
  border-radius: 4px;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 0.5em;
}

table#schedule {
  font-size: 0.6em;

  td b {
    font-weight: inherit;
  }

  th, td {
    padding: 0.125em 0.5em;
  }
  th {
    font-size: 1.2em;
  }
  tr &:last-child {
    padding: 0;
  }
  tr td:nth-child(6) {
    text-align: right;
  }
}

h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.en:lang(en), .nl:lang(nl) {
  font-weight: bold;
}

.language-switcher {
  position: absolute;
  right: 2em;
  top: 8px;
}

.status {
  font-size: 2em;
  font-variant:small-caps;
}

@keyframes pulse {
  from { border-radius: $spacing-unit; }
  to { border-radius: #{2 * $spacing-unit} }
}

.heros {
  figure {
    display: inline;
    float: left;
    margin-right: $spacing-unit;

    img {
      max-width: auto;
      border-radius: $spacing-unit;
      object-fit: cover;
    }

    a:hover img {
      animation-name: pulse;
      animation-duration: 0.3s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }

    figcaption {
      font-weight: bold;
      font-size: 1em;
    }
  }
}
